<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391468271213-5t1leaa0himq0dihn83l92sgmlqnsf6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391468271213-5t1leaa0himq0dihn83l92sgmlqnsf6u</string>
	<key>API_KEY</key>
	<string>AIzaSyCKGaVl1__8TfbkWHNmtMCQT3KMGHL95n8</string>
	<key>GCM_SENDER_ID</key>
	<string>391468271213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alSahabah</string>
	<key>PROJECT_ID</key>
	<string>stgmasjidh</string>
	<key>STORAGE_BUCKET</key>
	<string>stgmasjidh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391468271213:ios:4afd079fe9828193166164</string>
</dict>
</plist>